<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../css/rotation.css"/>
    <link rel="stylesheet" href="../css/test.css">
</head>
<body>

<div class="bg-more-pic">
    这里是多张图片背景
</div>

<div class="img-cross-fade">
    图片背景叠加
</div>

<div class="left-tabs ">
    <div class="left-tab">
        我叫“left-tab”
    </div>
</div>

<img src="images/domesrc/icon-media.png" alt="" id="fs-img"/>

<div class="contract">
<div class="xlds">
    <div class="age-limite">
       <span>ashinian</span>&nbsp&nbsp&nbsp效率大师使用年限
    </div>
    <div class="state">
        <input class="value" placeholder="执行中"/>
        <i class="icon"></i>
    </div>
    <div class="charge-person">
        <span>有<a class="person">蔡少芬</a>负责</span>
    </div>
    <div class="edit"><span class="words">编辑</span></div>
    <div class="change-person"></div>
    <div class="delete"></div>
</div>
    <div class="">

    </div>
</div>
<div class="test3" id="id1">
    <div class="test1"></div>
    <div class="test2"></div>
</div>

<div class="tangle"></div>

<a class="pseudo-class">
    <img src="images/add.png" alt="" style="vertical-align: middle"/>
</a>

<div class="div-cont-text">
    <div style="display: inline-block">
        asdfasdfasdf<br/>
        fenglianxiang
    </div>
</div>

<ul style="list-style: none;">
    <li style="list-style-type: none;">asdfwe</li>
    <li style="list-style-type: none;">asdfesf</li>
</ul>

<div style="height:200px;border:1px solid black;width: 400px;position: relative">
    <div style="width: 300px;height:100px;background-color: red;position: absolute;top:0;left: 0;"></div>
    <div style="float: right;width: 300px;height:100px;background-color: green"></div>
</div>

<div style="height:30px;border:1px solid black;">
    <ul class="ul-height-test">
        <li style="background-color: red;">asdfa</li>
        <li>asdfefasdf</li>
        <li>sdfasfe</li>
    </ul>
</div>

<div class="animative-ball"></div>


<a style="border: 1px solid gray;height: 40px;line-height:40px;font-size: 40px;">封连祥</a>


<div style="line-height: 64px;border: 1px solid gray;">
    <i style="vertical-align:middle;display: inline-block;"></i>
    <span style="font-size: 12px;display: inline-block;vertical-align: middle;line-height: 12px;">
        feg<br>sdf
    </span>
</div>
<h3 style="margin: 0;padding:0;font-size: 30px;line-height: 30px;text-align: center;border: 1px solid red;">封连祥</h3>


<div class="img-transfrom-test"></div>

<div style="border:5px solid red;"></div>
<div class="ie7-inline">
    <div class="ie7-left">dafe</div>
    <div class="ie7-right">asdfe</div>
</div>

<div class="text-box">
</div>

<h2 style="text-align: center;">旋转的顺序不一样结果不一样</h2>
<div class="transform-test">
    <div class="trnfom"></div>
    <div class="trnfom item1"></div>
    <div class="trnfom item2"></div>
    <div class="trnfom item3"></div>
</div>

<div class="rotation-box"></div>

<a href="javascript:" class="btn-submit">
    提交订单
</a>
<!-------------------------------------------伪元素控制表单样式------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">伪元素控制表单样式</h2>
<p>第一行为ie，第二行为chrome和safari，第三行为firefox。</p>
<!--for ie-->
<div style="border: 2px solid black;padding:10px;">
    <input type="checkbox"/>
    <input type="radio"/>
    <input type="file"/>
    <input type="password" rel="hidden-right-icon"/>
    <input type="text"  placeholder="placeholder" rel="ie-placeholder"/>
    <input type="range" rel="range-before"/>
    <input type="range" rel="ie-range"/>
    <input type="text" />
    <input type="text" rel="ie-hide-icon"/>
    <input type="text" rel="ie-change-icon"/>
    <progress max="100" value="50"></progress>
    <progress max="100" value="50" data-name="ie-pro"></progress>
    <select>
        <option selected>One</option>
        <option >two</option>
        <option >three</option>
    </select>
    <select data-name="ie-select">
        <option selected>One</option>
        <option >two</option>
        <option >three</option>
    </select>
</div>


<!--for chrome and safari-->
<div style="border: 2px solid black;padding:10px;">
    <input type="color" rel="choose color"/>
    <input type="date" rel="choose date"/>
    <input type="file" rel="choose file"/>
    <input type="number" rel="number"/>
    <input type="text"  placeholder="placeholder" rel="chrome-placeholder"/>
    <input type="range" rel="range-before"/>
    <input type="range" rel="chrome-range"/>
    <input type="search" rel="search-before"/>
    <input type="search" rel="chrome-search"/>
    <keygen/>
    <meter low="69" high="80" max="100" optimum="100" value="92">A</meter>
    <meter low="69" high="80" max="100" optimum="100" value="72">C</meter>
    <meter low="69" high="80" max="100" optimum="100" value="52">E</meter>
    <progress max="100" value="50" data-name="chrome-pro"></progress>
    <textarea></textarea>
    <textarea data-name="chrome-textarea"></textarea>
</div>


<!--for fire fox-->
<div style="border: 2px solid black;padding:10px;">
    <input type="text"  placeholder="placeholder" rel="ff-placeholder"/>
    <input type="range" rel="range-before">
    <input type="range" rel="ff-range">
    <progress max="100" value="50" ></progress>
    <progress max="100" value="50" data-name="ff-pro"></progress>
</div>
<!-----------------------------------------box-shadow 实现等待动画---------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">box-shadow实现等待动画，兼容ie10+</h2>
<p>这说明一个元素可以有多个shadow。由于在ie9上面支持box-shadow，而不支持animate；
    所以对于动画要用为元素实现（ie9不支持），就可以解决ie9上面显示不正确的现象。
    思路
    关键是要寻找IE9不支持，IE10支持的相关CSS样式或选择器，下面就是一些：
    :valid/:invalid IE9不支持，IE10以及其他浏览器支持
    :required/:optional IE9不支持，IE10以及其他浏览器支持
    ::before/::after IE9不支持（IE10↘IE9支持），IE10以及其他浏览器支持
    CSS Animations IE9不支持，IE10以及其他浏览器支持
    CSS Gradients IE9不支持，IE10以及其他浏览器支持
    等……</p>
<p>ie10 hack ：“.hack:valid ~ .shadow-loading ”</p>
<div class="ie10-hack"></div>
<div class="shadow-loading spin" ></div>
<!----------------------------------------CSS属性选择器驱动的过滤搜索技术------------------------------>
<h2 style="border:3px solid black;margin:10px 0;text-align: center">CSS属性选择器驱动的过滤搜索技术</h2>
<p>注意这里用到了“+”选择器，我原来认为hover，focus只能对内部的元素使用，原来用“+”可以对外部的元素使用样式</p>
<p>注意用jquery的class选择器得到的是数组</p>
<p>从这个例子可以看出来visiblility：hidden；其实是占位置的。</p>
<input type="search" class="data-search" id="city" placeholder="输入省会或直辖市名称" />
<label class="data-list" for="city">
    <div class="list" data-index="重庆市chongqing">重庆市</div>
    <div class="list" data-index="哈尔滨市haerbin">哈尔滨市</div>
    <div class="list" data-index="长春市changchun">长春市</div>
    <div class="list" data-index="兰州市lanzhou">兰州市</div>
    <div class="list" data-index="北京市beijing">北京市</div>
    <div class="list" data-index="杭州市hangzhou">杭州市</div>
    <div class="list" data-index="长沙市changsha">长沙市</div>
    <div class="list" data-index="沈阳市shenyang">沈阳市</div>
    <div class="list" data-index="成都市chengdu">成都市</div>
    <div class="list" data-index="合肥市hefei">合肥市</div>
    <div class="list" data-index="天津市tianjin">天津市</div>
    <div class="list" data-index="西安市xian">西安市</div>
    <div class="list" data-index="武汉市wuhan">武汉市</div>
    <div class="list" data-index="济南市jinan">济南市</div>
    <div class="list" data-index="广州市guangzhou">广州市</div>
    <div class="list" data-index="南京市nanjing">南京市</div>
    <div class="list" data-index="上海市shanghai">上海市</div>
    <div class="list" data-index="昆明市kunming">昆明市</div>
    <div class="list" data-index="郑州市zhengzhou">郑州市</div>
</label>

<!----------------------------------------CSS3 gradient斜向线性渐变----------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">CSS3 gradient斜向线性渐变</h2>
<h4>经测试除了safari以为所有现代浏览器都支持不带前缀的写法。</h4>
<p>
    线性渐变在Mozilla下的应用:-moz-linear-gradient( [point || angle,]? stop, stop [, stop]* )<br/>
    ：其共有三个参数，第一个参数表示线性渐变的方向，top是从上到下、left是从左到右，如果定义成left top，
    那就是从左上角到右下角。第二个和第三个参数分别是起点颜色和终点颜色。你还可以在它们之间插入更多的参数，
    表示多种颜色的渐变。<br/>可以用百分比作为位置
</p>

<div class="grad moz-level">
从开始到结束渐变
</div>
<div class="grad moz-level-center">
两个颜色值在一个位置，都在中间
</div>
<div class="grad moz-vertical"></div>
<div class="grad moz-tilt"></div>
<div class="grad moz-level-more"></div>
<div class="grad moz-deg"></div>
<p>
    线性渐变在Webkit下的应用:-webkit-linear-gradient( [point || angle,]? stop, stop [, stop]* )<br/>
    -webkit-gradient是webkit引擎对渐变的实现参数，一共有五个。第一个参数表示渐变类型（type），
    可以是linear（线性渐变）或者radial（径向渐变）。第二个参数和第三个参数，都是一对值，分别表示渐变起点和终点。
    这对值可以用坐标形式表示，也可以用关键值表示，比如 left top（左上角）和left bottom（左下角）。
    第四个和第五个参数，分别是两个color-stop函数。color-stop函数接受两个参数，第一个表示渐变的位置，
    0为起点，0.5为中点，1为结束点；第二个表示该点的颜色。如图所示：
</p>
<div class="grad webkit-level">注意在safari浏览器下写法和别的不一样，他少一个to，</div>
<div class="grad webkit-level-center">
    正常的 background-image: linear-gradient(to bottom, red, yellow);
</div>
<div class="grad webkit-vertical">
    safari下应该是：background-image: -webkit-linear-gradient(bottom,red ,yellow);
</div>
<div class="grad webkit-tilt">
    不带to，ie和firefox是不支持的。所以要对safari单独看成一类。
</div>
<div class="grad webkit-level-more "></div>
<div class="grad webkit-deg"></div>
<p>在opera下面是和moz和webkit一样的只是名字换为-o-linear-gradient不在举例子</p>
<p>在ie下面的渐变色<br/>
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB);/*IE9*/<br/>
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB)";/*IE8+*/
    IE依靠滤镜实现渐变。startColorstr表示起点的颜色，endColorstr表示终点颜色。GradientType表示渐变类型，0为缺省值，表示垂直渐变，1表示水平渐变。
</p>
<p>ie10 下渐变色</p>
<div class="grad ie10-level"></div>
<div class="grad ie10-level-center"></div>
<div class="grad ie10-vertical"></div>
<div class="grad ie10-level-more"></div>
<div class="grad ie10-tilt"></div>
<div class="grad ie10-deg"></div>
<p>ie6,7,8,9 渐变色;在ie6789上面只能用两种颜色渐变，并且只能是从左到右，或者从上到下不存在上面的多种样式</p>
<div class="grad ie6789-level"></div>
<div class="grad ie6789-vertical"></div>

<h2 style="border:3px solid black;margin:10px 0;text-align: center">CSS3 径向渐变</h2>
<p>opera浏览器不支持径向渐变。经测试新版opera已经支持了径向渐变。对于改变中心点位置safari是不支持的。</p>
<p>
    -moz-radial-gradient([bg-position || angle,]? [shape || size,]? color-stop, color-stop[, color-stop]*);<br/>
    -webkit-radial-gradient([bg-position || angle,]? [shape || size,]? color-stop, color-stop[, color-stop]*);<br/>
    参见：http://www.w3.org/TR/2012/CR-css3-images-20120417/#shape
</p>
<dl>
    <dt><strong>position</strong></dt>
    <dd>Determines the center of the gradient. The position value type
        (which is also used for ‘background-position’) is defined in [CSS3VAL],
        and is resolved using the center-point as the object area and the gradient
        box as the positioning area. If this argument is omitted, it defaults to ‘center’.
    </dd>
    <dt><strong>shape</strong></dt>
    <dd>
        Can be either ‘circle’ or ‘ellipse’; determines whether the gradient's ending
        shape is a circle or an ellipse, respectively. If shape is omitted,
        the ending shape defaults to a circle if the size is a single length,
        and to an ellipse otherwise.
    </dd>
    <dt><strong>size</strong></dt>
    <dd>
        too much！
    </dd>
</dl>
<p>
    除了您已经在线性渐变中看到的起始位置，方向，和颜色，径向梯度允许你指定渐变的形状（圆形或椭圆形）和
    大小（最近端，最近角，最远端，最远角，包含或覆盖 (closest-side, closest-corner, farthest-side,
    farthest-corner, contain or cover)）。 颜色起止(Color stops)：就像用线性渐变，你应该沿着渐变线定义渐变的起止颜色。
    下面为了更好的理解其具体的用法，我们主要通过不同的示例来对比CSS3径向渐变的具体用法
</p>

<div class="grad radial-base">
    可以看出在默认的情况下是圆形的渐变，圆心在元素的中心，
</div>
<div class="grad radial-color-stop">
    和线性渐变一样可以给每个颜色值定义位置，可以和默认情况做一下对比。
</div>

<div class="grad radial-position">
    注意圆心的位置
</div>

<div class="grad radial-position2">
    把圆心定到某个点
</div>

<div class="grad radial-ellipse">
    椭圆
</div>
<h3>repeat-color,重复渐变色</h3>
<p>Note that the last color-stop and first color-stop will always coincide at the boundaries of each group,
    which will produce sharp transitions if the gradient does not start and end with the same color.</p>
<div class="grad repeat-line"></div>
<div class="grad repeat-radial"></div>
<div class="grad repeat-radial-pos"></div>
<h3>一些简单的应用,注意用left，bottom的话safari和其他浏览器渲染不一样。
    用角度旋转各个浏览器渲染就一样了</h3>
<div class="grad exp-grad-1"></div>
<div class="grad exp-grad-2"></div>

<!--纯CSS实现星星评分交互效果
-------------------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">纯CSS实现星星评分交互效果</h2>
<p>这里有一个问题为什么a里面放的label中的文字不能显示出来呢？
    我用的font-size：0，他用的line-height：6em，直接搞没有了。</p>
<p>我的确没有张老师写得好，还要学习呀！</p>
<p>这个是张老师写的</p>
<div class="bg-star">
    <input type="radio" id="startScore1" class="score score-1" value="1"  name="score"/>
    <a href="startScore1" class="star star-1" title="差">
        <label for="startScore1" class="lab-start">差</label>
    </a>
    <input type="radio" id="startScore2" class="score score-2" value="2" name="score"/>
    <a href="startScore2" class="star star-2" title="较差">
        <label for="startScore2" class="lab-start">较差</label>
    </a>
    <input type="radio" id="startScore3" class="score score-3" value="3" name="score"/>
    <a href="startScore3" class="star star-3" title="普通">
        <label for="startScore3" class="lab-start">普通</label>
    </a>
    <input type="radio" id="startScore4" class="score score-4" value="4" name="score"/>
    <a href="startScore4" class="star star-4" title="较好">
        <label for="startScore4" class="lab-start">较好</label>
    </a>
    <input type="radio" id="startScore5" class="score score-5" value="5" name="score"/>
    <a href="startScore5" class="star star-5" title="好">
        <label for="startScore5" class="lab-start">好</label>
    </a>
</div>

<p>这个是我自己写的</p>
<div class="my-bg-star">
    <input type="radio" id="start-me-1" class="my-score myscore-1" value="1" name="score"/>
    <a href="start-me-1" class="my-star my-star-1">
        <label for="start-me-1" class="my-label">差</label>
    </a>
    <input type="radio" id="start-me-2" class="my-score myscore-2" value="2" name="score"/>
    <a href="start-me-2" class="my-star my-star-2">
        <label for="start-me-2" class="my-label">较差</label>
    </a>
    <input type="radio" id="start-me-3" class="my-score myscore-3" value="3" name="score"/>
    <a href="start-me-3" class="my-star my-star-3">
        <label for="start-me-3" class="my-label">普通</label>
    </a>
    <input type="radio" id="start-me-4" class="my-score myscore-4" value="4" name="score"/>
    <a href="start-me-4" class="my-star my-star-4">
        <label for="start-me-4" class="my-label">较好</label>
    </a>
    <input type="radio" id="start-me-5" class="my-score myscore-5" value="4" name="score"/>
    <a href="start-me-5" class="my-star my-star-5">
        <label for="start-me-5" class="my-label">好</label>
    </a>
    <div class="bg-chosed" ></div>
</div>

<!--letter-spacing+first-letter实现按钮文字隐藏以及box-shadow
-------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">letter-spacing+first-letter实现按钮文字隐藏</h2>
<p>这里不再举例，letter-spacing是字符间距，设置为0文字之间自然没有空隙，设置为负值当然看不见了。</p>
<p>:first-letter表示第一个字符，应用负值文字自然也会跑到左边去。</p>
<div class="code-space">sdfsdfsd重叠的文字</div>
<p>box-shadow效果的本质实际上是对自身的复制</p>
<i class="icon-up"></i>

<!--用css过滤图片
-------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">用css过滤图片</h2>
<p>过滤为黑白色</p>
<img src="images/mrs.zhang.jpg" alt="jd"/>
<img src="images/mrs.zhang.jpg" alt="jd" class="filter-gray"/>
<p>模糊效果</p>
<img src="images/mrs.zhang.jpg" alt="jd"/>
<img src="images/mrs.zhang.jpg" alt="jd" class="blur"/>
<p>ie 10 回头再想办法。看来要用到svg滤镜</p>

<!--关于white-space。word-break,word-wrap,认识
-------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    关于white-space。word-break,word-wrap,认识
</h2>
<p>white-space</p>
<div class="grad">
    领导开会：这个div就要明确地，准确无误的，非常清晰地告诉大家这样一个道理。默认情况下文字是
    会自动换行的。
</div>
<div class="grad ws-nowrap">
这里是white-space：nowrap，就是不允许换行的意思，
    但是会保留换行符吗，明显不会，你想多了。除非用br强行换行
</div>
<div class="grad ws-pre">
    white-space: pre;这里有事毛线意思呢？上面和左面出现了空白，文字不会换行了。在实际应用中可能
    没什么卵用。这里面保留了换行。
</div>
<div class="grad ws-preline">
    white-space: pre-line;这是什么毛意思？好像是允许自
    动换行
    同事保留了换行符，这里的换行符指的是“enter键”不是br
</div>
<div class="grad ws-prewrap">
    white-space: pre-wrap;这是什么毛意思？
    莫非
    和上一个一样由此可见这个元素在写文章的时候非常有用，开头空两格吗
</div>

<p>word-break，这个属性是对英文准备的</p>
<div class="grad wb-breakall">
    word-break: break-all;这个都比属性是为英文准备的。允许单词内换行，例如
    asdlfsaasdfldjlsdjfls
    ijflaskdjflsijlkdfjei
    nadfldfsilaidjfsiejfa
    sdjalsdifjadf
    估计这辈子也用不到了。
</div>

<div class="grad wb-keepall">
    word-break: keep-all;只能在半角空格或连字符处换行。　　　ｓｄｆｓｄｆａｓｄｆ
    asdfsdfefasdasjdkfjaldfkjasldflkjkasdlfkjaldfkjjj-sdfalsdjflkjlk
    这个也是为英文准备的，没毛线用了。
</div>

<p>word-wrap</p>

<div class="grad ww-breakword">
    word-wrap: break-word;在长单词或 URL 地址内部进行换行。
    This paragraph contains a very long word: thisisaveryveryveryveryveryverylongword.
    The long word will break and wrap to the next line.
</div>

<div class="grad use-select">
    这里测试css3的use-select和这里说的内容没毛线关系，鼠标没法选择文字了吧！
</div>
<p>
    综上所诉，这三个属性中的两个都是为英文准备的并没什么卵用，只用 white-space对处理汉字有点作用这一下
    明白了以前总是胡乱用这三个属性。
</p>

<!-- CSS3与文字渐变光影流动动画效果实现
-------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    CSS3与文字渐变光影流动动画效果实现
</h2>
<p>看着很炫其实没什么卵用因为只用webkit浏览器支持。</p>
<div class="colors-text">
    <h1>这是一段可选文字</h1>
</div>
<p>
    不过下面这个方法倒是值得学习；用伪类生成的元素，然后对他进行各种处理，但是为什么原来的那三个字不在了呢？
    其实是被覆盖了，这个效果是不是很帅。这个也没什么卵用，要用到 -webkit-mask-image，其他浏览器是不支持
    的。自己把玩一下就行了。
</p>
<h2 class="" data-text="封连祥">封连祥</h2>

<p>
    这个例子说明了什么呢？从本质上了解什么呢<br/>
    首先：css的content中支持attr属性，这就可以相当于一个语句使用了。
    其实不用为元素对原来的元素定义color，定义渐变色也是可以实现的。看起来犀利
    其实很简单。
    同时说明只能制造出背景透明渐变，并不能制造出透明度渐变。
</p>

<!-- 理解CSS clear:left/right的含义
-------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    理解CSS clear:left/right的含义
</h2>

<div class="f-box">
    <img src="images/domesrc2/icon-kh.png" alt="" class="f-img"/>
    <div class="f-none"></div>
    <span class="cl-fl">这是一个span</span>
    <div class="b-red">这是一个div</div>
    <div class="cl-fl">清除左浮动的div</div>
    从这个图中可以得到这样的结论：浮动是影响块状元素的。但是不影响行内元素排列，同时也不影响文字的排列
    即使浮动元素覆盖住了块状元素但是，并不影响块状元素内的文字。是否可以这样理解文字和浮动元素都不在文档流之内的。
    文字之所以把div撑开，是line-height起作用的。
</div>

<!--图标技术应用以及text-shadow
-------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    图标技术应用以及text-shadow
</h2>
<div class="icon-example">:root .icon-example相当于一个hack，作用于现代浏览器，</div>
<div class="icon-example">只要是ie7,8不支持的选择器都可以用作hack!</div>
<z class="sf"></z>

<div class="txt-shadow">封连祥</div>

<!--响应式图片srcset全新释义sizes属性w描述符
------------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    响应式图片srcset全新释义sizes属性w描述符
</h2>

<img src="images/domesrc2/icon-jd.png" width="80" height="80"
     srcset="images/domesrc2/icon-zc.png 2x,
images/domesrc2/icon-kq.png 3x"/>

<img src="images/domesrc2/icon-jd.png" width="80" height="80"
     srcset="images/domesrc2/icon-jd.png 128w,
             images/domesrc2/icon-zc.png 256w,
             images/domesrc2/icon-kq.png 512w"
     sizes="(max-width: 360px) 340px, 128px"/>


<!--height:inherit
------------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    关于高度继承,100%和最小高度的测试和应用
</h2>
<p>
    可以得到这样一个结论。不论是min-height,还是max-height，都不算是真正的高度。
</p>
<div class="grad">
    <div class="hi-mh">
        <div class="h-100p">height: 100%;</div>
    </div>
</div>
<p>
    浏览器渲染height：100%，先查看该元素的父元素的高度，由于父元素定义的是min-height/max-height，浏览器就认为没有
    找到有效的高度值，就在向上一级查找。直到得到有效的高度值。就造成了这个样子。
</p>
<div class="grad">
    <div class="hi-mh">
        <div class="h-inherit"> height: inherit;</div>
    </div>
</div>
<p>
    浏览器渲染height:inherit时候，只会查看父元素的高度，有父元素的高度为min-height/max-height,浏览器就认为没有
    得到有效高度，停止查找，就返回该元素的高度0，
</p>

<div style="font-size: 16px;border:1px solid black;padding:5px;text-decoration: underline red;">
        要支持黄航的效果，要支持黄航的效果，要支持黄航的效果，要支持黄航的效果，要支持黄航的效果，要支持黄航的效果
        要支持黄航的效果，要支持黄航的效果，这个例子告诉我们高度不定文字居中加上padding就行了，不用那么费劲。
</div>

<div class="bd-otl">
    一个小小的实现
</div>

<!--ieIE矩阵滤镜Matrix旋转与缩放及结合transform的拓展
------------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    ieIE矩阵滤镜Matrix旋转与缩放及结合transform的拓展
</h2>
<p>
    ie滤镜，
    filter: progid:DXImageTransform.Microsoft.Matrix( SizingMethod= sMethod ,  M11= fM11 , M12= fM12 , M21= fM21 , M22= fM22 )
    书写格式是这样的，
    filter:progid:DXImageTransform.Microsoft.Matrix(M11=cos(roation),M12=-sin(roation),M21=sin(roation),M22=cos(roation),SizingMethod='auto expand');
</p>

<div class="scale-trans"></div>

<p>
    说白了，不管是ie还是其他浏览器，他们对图片缩放旋转都是用的矩阵，
    相当于坐标系旋转。
</p>

<!--css3动画研究
------------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    css3动画研究
</h2>
<p>animation-timing-function:linear||ease||ease-in||ease-out||ease-in-out||cubic-bezier(n,n,n,n)</p>

<p>linear</p>
<div class="explore-animate-out">
    <div class="explore-animate-inner timing-linear"></div>
</div>

<p>ease</p>
<div class="explore-animate-out">
    <div class="explore-animate-inner timing-ease"></div>
</div>

<p>ease-in</p>
<div class="explore-animate-out">
    <div class="explore-animate-inner timing-ease-in"></div>
</div>

<p>ease-out</p>
<div class="explore-animate-out">
    <div class="explore-animate-inner timing-ease-out"></div>
</div>

<p>ease-in-out</p>
<div class="explore-animate-out">
    <div class="explore-animate-inner timing-ease-in-out"></div>
</div>

<p>cubic-bezier(0,0,1,1)</p>
<div class="explore-animate-out">
    <div class="explore-animate-inner timing-cb-01"></div>
</div>

<div class="explore-animate-out">
    <div class="explore-animate-inner timing-cb-02"></div>
</div>
<p>
    其实确定贝塞尔曲线是四个点，两个默认点事（0，0）和（1,1）。另外两个点就是这里面的两个点，
    其实就相当于在坐标系中画了四个点，然后呢（0,0）与第一个点的连线决定了起始点的斜率，（1,1）
    与第二个点的连线决定了结束点的斜率。然后用这两个斜率吧（0,0）和（1,1）连接起来，就得到了，
    就得到一条曲线。动画的运动速率就是曲线的斜率，纳尼！are you ready?如果你想知道什么是3次
    贝塞尔曲线：做好被洗脑的准备吧
    <img src="images/cb-bersiz.jpg" alt="3次贝塞尔曲线"/>
</p>
<p>animation-direction:normal||alternate;</p>
<p>这种逆向，就连速率都逆向了。</p>
<div class="explore-animate-out">
    <div class="explore-animate-inner timing-cb-alt"></div>
</div>

<p>animation-fill-mode:none||forwards||backwards||both</p>

<p>animation-fill-mode:none</p>
<div class="explore-animate-out">
    <div class="explore-animate-inner fd-none"></div>
</div>
<p>animation-fill-mode:forwards</p>
<div class="explore-animate-out">
    <div class="explore-animate-inner fd-forwards"></div>
</div>
<p>animation-fill-mode:backwards</p>
<div class="explore-animate-out">
    <div class="explore-animate-inner fd-backwards"></div>
</div>
<p>这东西对动画的开始和结束进行定义的，一个定义开始之前，一个定义结束之后。（当然不能是infinite重复）</p>

<!--text-shadow知多少
------------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    text-shadow知多少
</h2>

<p>模糊半径越大与不明显</p>
<div class="sm-grid ts-one">
    sf
</div>

<div class="sm-grid ts-two">
    sf
</div>

<div class="sm-grid ts-three">
    sf
</div>

<div class="sm-grid ts-four">
    sf
</div>

<div class="sm-grid ts-5">
    sf
</div>

<div class="sm-grid ts-3d-1">
    sf
</div>

<div class="sm-grid ts-3d-2">
    sf
</div>

<div class="sm-grid ts-3d-3">
    sf
</div>

<div class="sm-grid ts-3d-4">
    sf
</div>


<!--box-shadow知多少
------------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    box-shadow知多少
</h2>
<p>看似平常的box-shadow有好多属性是我们还不知道的，带你来观赏一下</p>
<p>首先猜测一下border-img的box-shadow是什么样子的呢？同时你会发现border-image比border要宽呀！你会发现border-image没有毛线用！</p>

<div class="bs-grid bs-bimg"></div>
<p>如果多个box-shadow放到一起层置关系如何呢？很明显靠后的在后面，靠前的在上面！</p>
<div class="bs-grid bs-stack"></div>

<p>padding对内阴影有影响吗？很明显没有影响！但是你会发现这里的层置关系太特别了。outline>文字>边框>内阴影>背景图片>背景颜色>外阴影</p>
<div class="bs-grid bs-inner-sdw">有影响吗？</div>

<!--css3 transform知多少
------------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    css3 transform知多少
</h2>
<p>transform: rotate(旋转) | scale（缩放） | skew（扭曲） | translate（平移） |matrix（矩阵）</p>
<p>transform:rotate（n deg）,正值表示顺时针，负值表示逆时针，这里不再举例</p>
<p>transform:scale(n),n可以是正数也可以是负数，或者为0，如果是0，可以实现元素的隐藏，负数可以实现元素倒立</p>
<p>transform:skew(n deg)n为有理数。做扭曲的意义不是太大，很少用到但是也是可以实现一些效果的。如下</p>
<div class="transf-skew"></div>
<p>关于矩阵可以查阅参考
    <a href="http://www.w3.org/TR/SVG/coords.html#TransformMatrixDefined">
        http://www.w3.org/TR/SVG/coords.html#TransformMatrixDefined
    </a>
    这里不再说明，大部分变换用上面的就可以实现了。除非一些非常特殊的变换。
</p>
<h4>
    transform:translate;这么一个简单的属性为什么要给出例子呢，因为这个属性是接受百分比的。
    这个百分比是相对于谁呢？来测一下就知道了.发现了吧，相对于自身的百分比，不是相对于父元素。
    利用这个属性在不确定元素宽度的情况下，可以实现元素居中。
</h4>

<div style="border:1px solid black;">
    <div class="transf-translate"></div>
</div>

<p>
    transform-origin：改变元素基点位置。用来设置元素的运动的基点（参照点）。
    默认点是元素的中心点。其中X和Y的值可以是百分值,em,px，其中X也可以是字符参数值left,
    center,right；Y和X一样除了百分值外还可以设置字符值top,center,bottom，这个看上去有点像我们
    background-position设置一样。
</p>

<div class="transf-origin"></div>

<!--css3 Transition知多少
------------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    css3 Transition知多少
</h2>
<p>
    首先是这个东西的定义来自w3c<br/>
    transition: which describe how CSS properties can be made to change smoothly from one value to another over a given duration.
    简单地说就是让css属性在给定的时间内做平滑的变化，为了解决什么问题才出现的呢？
    Normally when the value of a CSS property changes, the rendered result is instantly updated,
    with the affected elements immediately changing from the old property value to the new property value.
    This section describes a way to specify transitions using new CSS properties.
    These properties are used to animate smoothly from the old state to the new state over time.
</p>
<p>你会发现他不光丢失的时候会渐变，回来的时候也会渐变。不会像动画一样突然消失。问题能不能添加多个属性呢,明显可以添加多个属性</p>
<div class="transi-opacity"></div>
<p>注意这里transition-timing-function: step-end，step-start.不知道有毛线作用，但是在动画里还是有作用的。</p>
<p>语法：transition ： ['transition-property' || 'transition-duration' || 'transition-timing-function' || 'transition-delay'
[, ['transition-property' || 'transition-duration' || 'transition-timing-function' || 'transition-delay']]*;</p>
<p>是时候做个例子了,从这里面得到这样的体会，模糊度有时可以做渐变色用。transition也可以对伪类使用。</p>
<div class="transi-exp"></div>


<!--ie盒子模型知多少
------------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    ie盒子模型知多少
</h2>
<p>以前只知道ie的盒子模型不一样，不知道到底怎么不一样？现在研究一下.这里要带上box-sizing进行测试</p>
<ul>
    <li>在ie10下的表现是和标准一样的。不论是Q还是S</li>
    <li>在ie9下的表现是和标准一样的。</li>
    <li>在ie8下的表现是和标准一样的。</li>
    <li>
        在ie7下宽度和高度定义的是content-box，并且ie7不认识box-sizing是什么东西。所以就变大了。
        所以就得到这样一个结论，有padding，和border的在ie7下面都要特殊处理的。但是如果在手机上布局大部分用的都是
        百分比，主要处理固定的padding好蛋疼呀。手机版本最好和桌面版分开最好和ie7分开。
    </li>
</ul>
<div class="ie-box-module">水电费水电费</div>
<p>下面一段话需要知道</p>
<p>
    1、【type="submit"】、【type="reset"】、button、【type="text"】、select、textarea默认情况下都带有2px的border;<br/>
    2、【type="submit"】、【type="reset"】、button默认情况下会有6px的左右padding；height在mac系统下会比在winxp win7系统下少1px,只有16px,（12px的字体时高度为17px）;<br/>
    3、【type="text"】默认情况下会有1px的上下padding；WinXP和Win7下高度为15px，Mac系统下为14px<br/>
    4、【type="checkbox"】默认情况下会有margin：3px 3px 3px 4px,并且宽/高度默认为13px(IE6，IE7默认大约是15px，Mac系统下只有9px)<br/>
    5、【type="radio"】默认情况下会有margin: 3px 3px 0 5px的外边，并且宽/高度默认为13px（IE6,IE7默认大约是15px,Mac系统下只有9px）<br/>
    6、textarea默认情况带有1px的上下margin；
</p>
<!--CSS3 @font-face 知多少,这个东西我要研究一下午了。
------------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    CSS3 @font-face
</h2>
<dl>
    <dt>
        一、TureTpe(.ttf)格式：
    </dt>
    <dd>
        .ttf字体是Windows和Mac的最常见的字体，是一种RAW格式，因此他不为网站优化,支持这种字体的浏览器有
        【IE9+,Firefox3.5+,Chrome4+,Safari3+,Opera10+,iOS Mobile Safari4.2+】；
    </dd>
    <dt>
        二、OpenType(.otf)格式：
    </dt>
    <dd>
        .otf字体被认为是一种原始的字体格式，其内置在TureType的基础上，所以也提供了更多的功能,支持这种字体的浏览器有
        【Firefox3.5+,Chrome4.0+,Safari3.1+,Opera10.0+,iOS Mobile Safari4.2+】；
    </dd>
    <dt>
        三、Web Open Font Format(.woff)格式：
    </dt>
    <dd>
        .woff字体是Web字体中最佳格式，他是一个开放的TrueType/OpenType的压缩版本，同时也支持元数据包的分离,支持这种字体的浏览器有
        【IE9+,Firefox3.5+,Chrome6+,Safari3.6+,Opera11.1+】；
    </dd>
    <dt>
        四、Embedded Open Type(.eot)格式：
    </dt>
    <dd>
        .eot字体是IE专用字体，可以从TrueType创建此格式字体,支持这种字体的浏览器有【IE4+】；
    </dd>
    <dt>
        五、SVG(.svg)格式：
    </dt>
    <dd>
        .svg字体是基于SVG字体渲染的一种格式,支持这种字体的浏览器有
        【Chrome4+,Safari3.1+,Opera10.0+,iOS Mobile Safari3.2+】。
    </dd>
    <p style="white-space: pre-line">
        为了让所有的浏览器支持字体引用需要时这样的:
        @font-face {
        font-family: 'YourWebFontName';
        src: url('YourWebFontName.eot'); /* IE9 Compat Modes */
        src: url('YourWebFontName.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('YourWebFontName.woff') format('woff'), /* Modern Browsers */
        url('YourWebFontName.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('YourWebFontName.svg#YourWebFontName') format('svg'); /* Legacy iOS */
        }
    </p>
</dl>

<p>
    下载文件然后引用，就可以引用字体了，但是怎么样才能自己造一些字体呢？这些文件是怎么弄得。我怎样才能造出来这些文件呢？
    这个东西是耗费时间的，主要是要下载软件，周末回家自己制造一些专有字体。
</p>

<!---background-clip知多少
------------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    background-clip知多少
</h2>
<p>2话不说，先看例子</p>
<div class="bkc bkc-bb">
    默认值border-box
</div>
<div class="bkc bkc-pb">
    background-clip:padding-box
</div>
<div class="bkc bkc-cb">
    background-clip:content-box
</div>
<p>
    你会发现border-box和padding-box一个样，难道真没有毛线用？
</p>
<p>
    background-color是从元素的边框左上角起到右下角止，而background-image却不一样，
    他是从padding边缘的左上角起而到border的右下角边缘止，如果大家对上面那句话不太好理解的话，
    我们一起来看一个简单的Box Model加上边框和背景色，
</p>

<div class="bkc bkc-cb bkc-img" style="padding: 0">
    background-clip:content-box
</div>

<div class="bkc bkc-cb bkc-img">
    background-clip:content-box
</div>
<p>仔细研究上面两张图片不难发现，上面那一段话说的是正确的。同时也告诉我们，content-box，会把img给剪切一部分。</p>
<p>
    突然间奇思妙想，用background-clip: padding-box;可以制造出相当于margin的一个东西，不过你怎么多调不掉。
    和outline结合使用可以制造出高端的空白区域。
</p>

<div class="bkc-box">
    <div class="bkc bkc-cb bkc-gap"></div>
</div>
<p>其实一点用都没有完全可以用border-image代替，不不不，如果会移动就完全神奇了并且这可以调节透明和渐变</p>
<p>
    webkit下background-clip还有一个更神奇的效果，就是可以让图片填充文本，
    那就是background-clip:text配合其私有属性-webkit-text-fill-color: transparent,
    以前做过了这里不再举例。
</p>

<!---background-origin知多少
------------------------------------------------------------------------------------------------------->
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
    background-origin知多少
</h2>
<p>不说废话,直接上图,一目了然</p>
<div class="bko bko-bb"></div>
<div class="bko bko-bb bkc-cb">
    background-clip: content-box;难道这都比只对背景色有作用，对图片没有作用。
</div>
<div class="bko bko-pb"></div>
<div class="bko bko-pb bko-pb-pst">
    background-position: bottom right;
</div>
<div class="bko bko-cb"></div>
<div class="bko bko-cb bkc-cb">
    background-clip: content-box;
</div>
<p>
    你会发现右边似乎有bug呀！这到底是怎么回事？求解释,background-clip：对北京图片不起作用呀！
    我想可以这样理解background-clip是对背景色的操作，而background-img在背景色的上面，所以看不出来效果。
</p>
<p>
    如果将background-attachment设置为fixed时，background-origin将不起任何作用。
    并且background-origin取任何值将不会影响body中background-image的任何设置。
</p>

<footer>
    <h2 style="text-align: center">
        鉴于页面已经太长了，翻阅和查找不方便，就此结束，重新开一个页面。
    </h2>
</footer>






















<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/rotation.js"></script>
<script type="text/javascript">
    $(function(){
//////////////////////全屏代码仅是html5的浏览器。///////////////////////////////////
        $(".left-tab").bind("click",function(){
            if(
                    document.fullscreenEnabled ||
                    document.webkitFullscreenEnabled ||
                    document.mozFullScreenEnabled ||
                    document.msFullscreenEnabled
            ){
                var i = document.getElementById("fs-img");// go full-screen
                if (i.requestFullscreen) {
                    i.requestFullscreen();
                } else if (i.webkitRequestFullscreen) {
                    i.webkitRequestFullscreen();
                } else if (i.mozRequestFullScreen) {
                    i.mozRequestFullScreen();
                } else if (i.msRequestFullscreen) {
                    i.msRequestFullscreen();
                }
                setTimeout(function(){
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    }
                },5000);
            }
            else
            {
                alert("你的浏览器不支持全屏！")
            }
        });

////////////////////////////////图片轮询///////////////////////////////////////
        var data = {
            time:1,
            interval:3,
            arrayImg:[{src:"images/domesrc2/icon-gl.png"},
                {src:"images/domesrc2/icon-jd.png"},
                {src:"images/domesrc2/icon-kh.png"},
                {src:"images/domesrc2/icon-kq.png"},
                {src:"images/domesrc2/icon-tl.png"},
                {src:"images/domesrc2/icon-tz.png"}]
        };
        $(".rotation-box").Rotation(data);

////////////////////////////////提交按钮///////////////////////////////////////////
        $(".btn-submit").on("click",function(){
            this.innerHTML='提交订单中<span class="ani-dot">...</span>';;
        });


////////////////////////CSS属性选择器驱动的过滤搜索技术//////////////////////////////
        var eleStyle = document.createElement("style");
        //document.querySelector("head").appendChild(eleStyle);////这里不明白了，这样写怎么也可以用
        //$(".datalist").appendChild(eleStyle);
        //document.querySelector(".data-list").appendChild(eleStyle);
        $(".data-list")[0].appendChild(eleStyle);

        $(".data-search").on("input",function(){
            var val = this.value.trim().toLowerCase();
            if (val !== '') {
                // 改变CSS筛选规则
                eleStyle.innerHTML = '.list:not([data-index*="'+ this.value +'"]) { display: none; }';
            } else {
                eleStyle.innerHTML = '';
            }
        });
    });
</script>
</body>
</html>