<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>样式翻阅——3</title>
    <link rel="stylesheet" href="../css/test_3.css"/>
</head>
<body>
<h2 style="border:3px solid black;margin:10px 0;text-align: center">
   不同浏览器hack:可以区分不同的浏览器，和ie版本。
</h2>
<div class="content">
    <div class="test"></div>
    <div class="txt">
        <p>IE6下背景颜色：<span class="ie6" style="background-color: #ccc;">#ccc</span></p>
        <p>IE7下背景颜色：<span class="ie7" style="background-color: #666;">#666</span></p>
        <p>IE8下背景颜色：<span class="ie8" style="background-color: #06f;">#06f</span></p>
        <p>IE9下背景颜色：<span class="ie9" style="background-color: #f00;">#f00</span></p>
        <p>IE10下背景颜色：<span class="ie10" style="background-color: #0ff;">#0ff</span></p>
        <p>webkit,Safari,Chrome下背景颜色：<span class="webkit-safari-gg" style="background-color: #ff0;">#ff0</span></p>
        <p>FireFox下背景颜色：<span class="firefox" style="background-color: #f0f;">#f0f</span></p>
        <p>Opera下背景颜色：<span class="opera" style="background-color: #0f0;">#0f0</span></p>
    </div>
</div>
</body>
</html>